<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-Vindo!</title>
    <link rel="stylesheet" href="../public/css/inicial.css">
    <script src="../public/js/inicial.js"></script>
</head>
<body>
    <div id="logo-box">
        <img src="" alt="">
    </div>

    <h1>Olá, seja bem vindo!</h1>

    <h2>Você possui cadastro em nosso App?</h2>

    <a href="../views/login.html">Sim, sou cadastrado(a)!</button></a>

    <p>ou</p>

    <a href="../views/cadastro.html"><button class="btn-cadastro-geral">Não, ainda não possuo cadastro!</button></a>

    <a href="../views/fornecedor.html"><span id="btn-fornecedor">Sou fornecedor.</span></a>

</body>
</html>